.speech{
    font-size: 16px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.direction{
    font-size: 14px;
    color: black;
    background-color: lightpink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.direction.hover{
    background-color: lightblue;
    color:blueviolet;
}
.chubukov{
    color: #33ff63;
    }
.lomov{
    color: #6a0572;
    }
.Natalya{
    color:brown;
    }
.name{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.Natalya:hover{
    text-shadow:2px 3px 5px blue;
    border: 2px solid #6A0572;
    filter:blur(5px);
}
.character-table{
    width: 100%;
    border-collapse: collapse;
    margin-top:20px;
}
.character-table th, .character-table td {
    border: 1px solid #DBFF33;
    padding: 10px;
    text-align: center;
}

.character-table th {
    background-color: #33ff63;
}
tr:nth-child(even) {
    background-color: #9c4343;
  }
  

  .bottom-navbar {
    background-color: darkorange;
    align-items: center;
    color: white;
    text-align: center;
    padding: 2px;
    bottom: 0;
    width: 100%;
    display: flex;
    
    }
    
    .bottom-navbar a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:15px;
    color: black;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    }
    
    .bottom-navbar i {
    font-size: 10px;
    margin-bottom: 18px;
    }
    
    .bottom-navbar a:hover {
    color: white; 
    }
    
    .fa {
    padding-top: 3%;
    }
    
    